/*General css*/

html {
font-family: Helvetica; sans-serif;
font-size: 16px;
}

section {
  display: flex;
  width: 100%;
}

body {
background-color: #f8f9f9;
color: #212121;
margin: 0;
text-align: center;
}

body section:nth-child(even) {
  background-color: #D3D3D3;
}


h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #33334d;
  margin-bottom: 32px;
  line-height: 1.5;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #5c5c8a;
  line-height: 1.5;
  margin-bottom: 40px;
}

h3 {
  font-weight: 700;
  color: #47476b;
  font-size: 2rem;
}

h4 {
font-weight: 400;
color: #47476b;
font-size: 1.25rem;
margin-bottom: 0.75rem;
}

p {
font-size: 0.9rem;
line-height: 1rem;
color: #687083;
}

/* @1024px*/

@media only screen and (max-width: 1024px){
  h1 {
    font-size: 2rem;
    line-height: 1.25;
    width: 90%;
  }
  h2 {
    font-size: 1.2rem;
    line-height: 1;
  }
}

/*Header*/

header {
  height: 64px;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.logo {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}

.logo span {
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 27px;
}

#colmar {
  font-weight: 700;
  font-size: 1.2rem;
  color: #33334d;
}

#academy {
  font-weight: 300;
  font-size: 1.2rem;
  color: #33334d;
}

nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 24px;
}


ul li  {
  color: 33334d;
  font-size: 0.9rem;
  text-decoration: none;
  align-items: center;
}

li~li {
  border-left: 16px solid #a3e4d7;
  height: 64px;
}

header nav ul li a {
  background-color: #f8f9f9;
  color: #5c5c8a;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 200ms ease 200ms;
  }

  header nav a:hover {
    color: black;
  }


  #online, #companies, #signin {
    padding-top: 20px;
  }

/*Header--Mobile*/


nav.mobile {
  display: none;
}

@media only screen and (max-width: 768px){
  header .logo, header nav {
    display: none;
  }
  nav.mobile, nav.mobile ul {
    display: inline-flex;
    justify-content: space-around;;
    width: 100%;
  }
}

/*Banner*/

section.banner {
  top: 64px;
}

.banner_img img {
  width: 60%;
  height: auto;
  margin: 32px 35px 32px 24px;
}

.banner_content {
  display: flex;
  flex-direction: column;
  width: 320px;
  justify-content: center;
  align-items: center;
}

.banner_content nav a {
  background-color: #D3D3D3;
  color: #FFFFFF;
  margin-right: 16px;
  text-align: center;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 500ms ease 300ms;
  }


.banner_content nav a:hover {
  background_color: #C5CAD7;
  color: #1B202B;
}

/*Banner @1024px*/

@media only screen and (max-width: 1024px) {
  .banner_img {
    width: 50%;
    margin-left: 16px;
  }

.banner_content nav a {
  width: 90%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  }
}

/*Banner--Mobile*/

@media only screen and (max-width: 768px){
  section.banner {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}




}
.banner_content {
  margin: 32px 16px 32px 16px;
  text-align: center;
}
.banner_content nav a, .banner_content h1, .banner_content h2 {
  width: 100%;
  margin-right: 0px;
}
}

/*Info*/

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.practicing {
  width: 100%;
  height: auto;
  padding: 32px 24px;
  line-height: 1.5;
  align-content: center;
  float: left;
}

.sidebar_container h3 {
  margin-bottom: 24px;
}


.sidebar_container p {
  padding-top: 8px;
  padding-bottom: 8px;
}


.sidebar_container span {
  font-size 0.9rem;
  font-weight: 600;
  color: #47476b;
  margin-top: 30px;
}

.info_img img {
  width: 576px;
  height: auto;
  margin: 32px 24px 32px 24px;
}

.info_content {
  line-height: 1.5;
}



.sidebar_container {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  margin-right: 8px;
  border-left: 1px solid #C5CAD7;
  padding-bottom: 32px;
  width: 540px;
  height: auto;
  float: right;
}

.sidebar_container nav a {
  color: #212121;
  text-decoration: none;
}


.sidebar_container nav a:hover {
  color: black;
  font-weight: bold;
  transition-duration: 1s;
}

.sidebar_container div:first-child {
  padding-top 16px;
  background-color: #c0e2dc;
}


.sidebar_container:last-child {
  background-color: #D3D3D3;
}


.sidebar_container img {
  width: 35%;
  margin: 16px 16px;
}





.sidebar_mobile {
  display: none;
}

.text {
  margin-right: 16px;
}

.text p {
  margin-bottom: 1.25rem;
}

.text nav a {
color: #404655;
font-size: 0.9rem;
text-decoration: none;
}

/*@1024--Information*/

@media only screen and (max-width: 1024px) {
  .information {
    width: 50%;
    margin-left: 16px;
  }
  .sidebar {
    width: 50%;
  }
}

/*Info--Mobile*/

@media only screen and (max-width: 768px) {
  .sidebar_container: {
    justify-content: center;
  }
  .sidebar_container {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .sidebar_container {
    display: none;
  }

.sidebar_mobile {
  display: flex;
  flex-direction: column;
}
.sidebar_container img {
  width: 90%;
  max-width: 480px;
  height: auto;
}
.text {
  width: 90%;
  margin: 16px 16px 16px 32px;
}
}


/*Courses*/
.start_learning h1 {
  margin: 24px, 32px;
  text-align: center;
  background-color: #c0e2dc;
}

.courses h1 {
margin-top: 250px;
margin-bottom: 250px;
background-color: #c0e2dc;
padding: 8px;
}
.courses h3 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
}

.main_container  {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  background-color: #D3D3D3;
  margin: 0 auto;
}

.course_container {
  background-color: whitesmoke;
  border: 1px solid white;
  width: 320px;
  height: 320px;
  justify-content: space-around;
}

}
.container img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.course_text span {
  padding-top: 8px;
}
}

.course_container span {
  font-weight: 400;
  font-size: 0.9rem;
  color: #212121;
  background-color:
  margin-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}


.courses-mobile {
  display: none;
}

@media only screen and (min-width: 786px) {
  .courses_mobile {
    display: none;
  }
}

/*@1024--Courses*/

@media only screen and (max-width 1024px) {
  .courses {
    padding-left: 16px;
  }

  .software  {
    padding-left: 32px;
    padding-right: 32px;
   }

   .container {
     margin-left: 16px;
     margin-right: 16px;
   }
}

/*Courses--Mobile*/

@media only screen and (max-width: 768px) {
  section.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  .courses h3 {
    padding-bottom: 32px;
  }
    .software {
      display: none;
    }
.courses_mobile {
  display: block;
  justify-content: center;
  width: 905;
  max-width: 480px;
  margin-bottom: 32px;
}
.courses_mobile h4 {
  background-color: #5c5c8a;
  padding: 16px 0px 16px 16px;
  margin-bottom: 8px;
 }
}



/*Thesis*/

.thesis {

}

.thesis h3 {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.thesis_container {
display: inline-flex;
flex-wrap: wrap column;
}

video {
  margin-bottom: 15px;
  border: 2px solid #5c5c8a;
}

#fisma h4 {
padding-top: 15px;
}

#fisma p, #nowandthen p {
border-bottom: 125px solid #c7e2dd;
}

#fisma p {
  padding-bottom: 50px;
}

#nowandthen p {
  padding-bottom: 58px;
}

#fisma img, #nowandthen img {}
.video_mobile {
  display: none;
  width: 100%;
  height: auto;
}

.boxx h4 {
  padding: 8px 8px;
}

.boxx:last-child {
  background-color: #D3D3D3;
}

/*@1024px--Thesis*/

@media only screen and (max-width 1024px) {
  .thesis h3 {
  padding-left: 16px;
  margin-bottom: 16px;
  }
}

/*Thesis--Mobile*/

@media only screen and (max-width: 768px) {
  .video_mobile {
    display: block;
  }
}


@media only screen and (min-width: 769px) {
  .video_mobile {
    display: none;
  }
}
/*Footer*/

footer {
  height: 64px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 16px;
  border-top: 1px solid #5c5c8a;
}

footer span {
  font-size: 0.75rem;
  margin-left: 24px;
  color: #212121;
}


/*Footer--Mobile*/

@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
  footer {
    border-top: 0px solid #212121;
    height: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
 .fisma {
background-color: #D3D3D3;
  background-size: cover;
